{% extends 'base.html' %}
{% load static %}
{% block mainbody %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<div class="card-container">
    <div class="card">
        <img class="card-image" src="{% static 'img/frenchfries.jpg' %}"alt="Small Margherita Pizza" style="width: 300px;">
        <div class="card-content">
            <h2 class="card-title">French Fries</h2>
            <p class="card-description" style="color: whitesmoke;">French fries, often simply referred to as "fries," are a popular and beloved side dish made from deep-fried potato strips. </p>
        </div>
        <div class="card-button">
            <span style="color: whitesmoke;">Rs 250</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="{% static 'img/garlicbread.jpg' %}"alt="Small Margherita Pizza" style="width: 230px;">
        <div class="card-content">
            <h2 class="card-title">Garlic Bread</h2>
            <p class="card-description" style="color: whitesmoke;">Garlic bread is a popular side dish in many cuisines, known for its delicious combination of flavors and textures.. </p>
        </div>
        <div class="card-button">
            <span style="color: whitesmoke;">Rs 300</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </div>

    <!-- Add more cards as needed -->
    <div class="card">
        <img class="card-image" src="{% static 'img/burger.jpg' %}"alt="Small Margherita Pizza" style="width: 200px;">
        <div class="card-content">
            <h2 class="card-title">Burger</h2>
            <p class="card-description" style="color: whitesmoke;">French fries, often simply referred to as "fries," are a popular and beloved side dish made from deep-fried potato strips. </p>
        </div>
        <div class="card-button">
            <span style="color: whitesmoke;">Rs 200</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="{% static 'img/choco.jpg' %}"alt="Small Margherita Pizza" style="width: 300px;">
        <div class="card-content">
            <h2 class="card-title">choco</h2>
            <p class="card-description" style="color: whitesmoke;">French fries, often simply referred to as "fries," are a popular and beloved side dish made from deep-fried potato strips. </p>
        </div>
        <div class="card-button">
            <span style="color: whitesmoke;">Rs 150</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="{% static 'img/cococola.png' %}"alt="Small Margherita Pizza" style="width: 160px;">
        <div class="card-content">
            <h2 class="card-title">coco cola</h2>
            <p class="card-description" style="color: whitesmoke;">French fries, often simply referred to as "fries," are a popular and beloved side dish made from deep-fried potato strips. </p>
        </div>
        <div class="card-button">
            <span style="color: whitesmoke;">Rs 80</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="{% static 'img/chowmein.jpg' %}"alt="Small Margherita Pizza" style="width: 270px;">
        <div class="card-content">
            <h2 class="card-title">chowmein</h2>
            <p class="card-description" style="color: whitesmoke;">French fries, often simply referred to as "fries," are a popular and beloved side dish made from deep-fried potato strips. </p>
        </div>
        <div class="card-button">
            <span style="color: whitesmoke;">Rs 199</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </div>





{% endblock mainbody %}
</html>
